@import "./variables";

.button {
  border: none;
  background: var(--kb-live-red);
  color: var(--kb-black);
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
    width: auto;

  &:hover {
    filter: brightness(1.1);
  }

  &.minimal {
    background: none;
    border: 2px solid var(--kb-white);
        color: var(--kb-white);
  }
}
